#container,
#main{display: grid; grid-template-columns: 1fr;}
#main{
  >.inside{background: body(block-background);}
}

.headerFW{ 
  .account-toggle{font-size: 2em; color: color(blueLogo); opacity: 0.6; transition: opacity 0.4s; cursor: pointer; margin: 0.25em 0.5em; display: flex;align-items: center;
    &.active,
    &:hover{opacity: 1;}
  }
  .mod_login{position: absolute; top: 80%; right: 0; transform: translate3d(110%,0,0); transition: transform 0.4s; background: body(block-background);box-shadow: 5px 5px 20px rgba(0,0,0,0.125); padding: $spacing; font-size: 0.8em; z-index: 1;
    &.active{transform: translate3d(0,0,0);}
    & input{margin-bottom: $spacing/2;
      &.submit{margin-bottom: 0;}
    }
  }
}
#nav_entreprise ul{list-style: none; padding:0; margin:0;
  & li{display: inline-block;}
  & a{@include btn(); width: 100%; white-space: nowrap; --btn-font-size: 0.8em;}
}

.table-list__headline{font-size: 0.8em; opacity: 0.85;}
tr.separator{ background: Hsl(from var(--primary) h s calc(l + 40)) !important; 
  td{padding: .5em .75em !important; }
}

.close{font-size: 1.5rem; opacity: 5; cursor: pointer; transition: opacity 0.4s;
  &:hover{opacity: 1;}
}

//INPUTS
label+input[type="file"]{opacity: 0; height: 0; width: 0;}
button.disabled,*[disabled]{pointer-events: none}


.titleWnav__wrapper{ display: flex; align-items: flex-end; justify-content: space-between; gap: 1em; margin-bottom: $spacing;
  .content-headline{margin: 0;}
}

/* TABLE OUTPUT */
.table_container{background: color(greylighter); padding: $spacing;
  +.table_container{margin-top: $spacing;}
}

// EXAM REQUEST
%hidden-std{opacity: 0; visibility: hidden; transition: opacity 0.4s; pointer-events: none; height: 0; overflow: hidden;
  &:after,&:before{visibility: hidden;}
  &:not(.active){padding: 0; margin: 0;}
  &.active{visibility: visible; opacity: 1; pointer-events: all; height: auto; overflow: visible;}
}
.mod_validate_requests,
.mod_exam_request{
  & .request_end{@extend %hidden-std;}
  & .request_step{ @extend %hidden-std;
    &.validate{pointer-events: none;}
  }
  & table.table{table-layout:auto; margin-bottom: 0;}
  & .table td{vertical-align: middle;}
}

.candidat_select .select2-container{margin: 0;}
.select2-container .select2-selection--single .select2-selection__rendered:after,
span#select2-addExistingCandidate-container:after{content:"0"; color: transparent;}
.candidat_select,.candidat_data{@extend %hidden-std;}
.candidat_select .bd-right{
  @include media-max(sm){border-color: transparent;}
}
.candidat_data .preview{max-width: 300px;
  & .croppr-container{margin-bottom: $spacing;}
}
.preview:empty{display: none;}

.mod_validate_requests,
.mod_exam_request,
.mod_validate_exams,
.mod_exam_external_notations{
  & .item>.infos{margin: 1rem 0;}
}

.mod_exam_reader{
  height: 100%;
  // margin: -$spacing*2 0 ;
  // @include media-max(xxs){margin: -$spacing/2 0;}
  
  .mod_article:has(&){
    height: 100%;
  }
  
  .slide{min-height: 100%; flex-direction:column;display:none; padding: $spacing/2 0;
    & .slide__wrapper{flex-grow: 1; display: grid; grid-template-columns: 1fr; grid-template-rows: auto 1fr;}
    &.active{display:flex;}
    &.error .slide__wrapper{justify-content: flex-start;}

    .image_container{text-align:right;}
    .image_container img{max-width: none;min-width: 100%;}
  }
  .question{
    margin-bottom: $spacing;
    padding: 0;
    .question__info{display: flex;}
    .question__section{background: color(greylight); display: inline-block; padding:.35em 0.75em; align-content: center;}
    .question__num{
      background: var(--primary);
      color: white;
      font-weight: bold; 
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      line-height: 1;
      padding: 15px;
    }
    .question__title{
      font-weight: bold; 
      font-size: 1.2em;
      background: Hsl(from var(--primary) h s calc(l + 35)); 
      padding: 0.75em;
    }
    .question__nbAnswers{display: inline-block; font-size: .65em; padding: .5em .5em; color: color(grey);}
  }

  .status {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    bottom: 0;
    border-top: 1px solid black;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 99;
    padding: 1em 0;
    &.active{opacity:1; visibility: visible;
      &:hover{opacity: 1;}
    }
    & *{margin-bottom:0;}
    & button{margin-left: 5px;
      @include media-max(xxs){font-size: 0.8em; padding: .4em 1em .5em;}
      &.disabled{opacity: 0.5;}
    }
  }
}


// EXAM EXTERNAL NOTATION
.mod_exam_external_notation{
  & table.table{ table-layout:auto;
    & input,
    & textarea,
    & select,
    & .select2-container{margin: 0;}
    & input[name="candidatMCI"],
    & input[name="candidatAC"],
    & input[name="candidatTXP"],
    & input[name="candidatAT"]{width: 60px; display: block; margin: auto;}
    & tr{position: relative;}
    & .action{position: absolute;width: 60px; height: 60px; top: 0; bottom: 0; margin: auto;
      &.before{left: 100%;}
      &.after{right: 100%;}
    }
  }
  & ul>i{margin-left: -2em; margin-bottom: 0.5em; display: inline-block;}

}
.triggerComment{position: absolute; left: 100%; top: 0px; padding: 4px; cursor: pointer; z-index: 1;}


// .touch_button,
// .close_menu,
// .toggle_menu{ width: 60px; height: 60px; line-height: 60px; text-align: center; font-size: 1.5rem; -moz-transition: all 0.4s; -o-transition: all 0.4s; -webkit-transition: all 0.4s; transition: all 0.4s;cursor: pointer; color: #ddd;}
// .touch_button:hover,
// .close_menu:hover,
// .toggle_menu:hover{color: white;}

// .table_container{margin: 30px 0; width: 100%; padding: 0;
//   & input,
//   & textarea,
//   & select,
//   & .select2.select2-container{margin: 0;border: 0; margin: -10px; background: Hsl(from var(--primary) h s calc(l + 40));
//     &:focus{background: Hsl(from var(--primary) h s calc(l + 40));}
//   }
//   & .select2-wrapper{margin:-10px;}
//   & .select2.select2-container{margin:0;}
//   & .select2-container .select2-selection{border: 0;}
//   & .select2-search__field{margin: 0 !important;}
//   & input[type="number"]{padding: .4em 0 .4em .4em ;}
//   .select2FW-wrapper{width: 100%;}
// }
// .table_container .cell{ min-height: 60px;padding: 15px; border: 1px solid #666; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
//   @include media-max(md){
//     &.bd-left-md{border-left: 1px solid #666 !important;}
//   }
//   @include media-max(sm){
//     &.bd-left-sm{border-left: 1px solid #666 !important;}
//   }
// }
// .table_container .cell[data-cell="title"]{background: color(greylighter)}
// .table_container .cell>*{-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1; -ms-flex-negative: 0; flex-shrink: 0;}
// .table_container .cell>.fa{font-size: 1.5em; margin-left: 5px; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0;}
// .table_container *[class*="table_"]{display: -webkit-box;display: -ms-flexbox;display: flex; clear: both;}
// .table_container .table_name{}
// .table_container .table_columns{flex-wrap: wrap}
// .table_container .table_footer{}
// .table_container .table_lines{display: block}
// .table_container .table_line{position: relative; padding: 0; margin: 0; -ms-flex-wrap: wrap; flex-wrap: wrap;
//   @include media-max(md){margin: 30px 0; border-top: 1px solid #666;
//     & .cell{
//       @include flex-container(column,wrap,flex-start,flex-start);
//       & input,
//       & textarea,
//       & select,
//       & .select2-wrapper,
//       & .select2.select2-container{margin: 0;}
//     }
//   }
// }

// .table_container .cell>.datepicker{margin: 0 -10px; width: 100%;}

// .table_container .table_columns .cell,
// .table_container .table_footer .cell,
// .table_container .table_line .cell{border-top: 0; border-left: 0;}
// .table_container .table_columns .cell:first-child,
// .table_container .table_footer .cell:first-child,
// .table_container .table_line .cell:first-child{ border-left: 1px solid #666;}

// .table_container .actions_container{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end;}
// .table_container .touch_button{color: #666; -webkit-transition: color 0.4s;transition: color 0.4s;}
// .table_container .touch_button:hover{color: #333;}
// .table_container .touch_button.locked_hidden{visibility: hidden !important;}
// .table_container .touch_button.locked_visible{display: block !important;}

// .table_container .table_line .touch_button{position: absolute; top: 0; right:0;display:none;}
// .table_container .table_line:hover .touch_button{display:block;}
// .table_container .table_line .touch_button.left{right:auto; left:0;}
// .table_container .table_line .touch_button.right{right:0; left:auto;}
